
Button {
    width: 16;
}

Input {
    width: 16;
}

#ivt_table {
    border: round $accent;
}
#battery_table {
    border: round $accent;
}

#psu_table {
    border: round $accent;
}

#relay_table {
    border: round $accent;
}

#label_dc24 {
    border: round $accent;
}